.app-wrapper {
  display: grid;
  
  grid-template-areas: 
  "h h"
  "n c";

  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 25px;
  width: 1140px;
  margin: 0 auto;
}

body {
  background-color: #a1a5dd;
}


.app-wrapper-content {
  grid-area: c;
  
  background: linear-gradient(130deg,
              rgba(251,251,254,.6),
              rgba(251,251,254,.2));
  box-shadow: inset 2px 2px 1px rgba(251,251,254,.3)
              inset -2px -2px 1px rgba(251,251,254,.2);
  border-radius: 1.5rem;
  backdrop-filter: blur(10px);

}

